<form
  action="products"
  id="formulario"
  enctype="multipart/form-data"
  method="post"
>
  <div class="formInput">
    <input type="text" placeholder="Nombre" name="title" id="name" />
  </div>
  <div class="formInput">
    <textarea
      name="description"
      id="description"
      placeholder="Descripcion"
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <div class="formInput">
    <input type="number" placeholder="Precio" name="price" id="price" />
  </div>
  <div class="formInput">
    <input type="number" placeholder="Stock" name="stock" id="stock" />
  </div>
  <div class="formInput">
    <input
      type="text"
      hidden
      name="userID"
      id="userID"
      value="<%= user._id %>"
    />
  </div>
  <div class="formInputFile">
    <input type="file" name="myFile" id="file" />
  </div>
  <input type="submit" value="Publicar" />
</form>
