<section class="hero">
  <div class="hero-box">
    <!-- <img src="./assets/image/home-hero.jpg" alt="hero" class="hero-box__img"> -->
    <div class="hero-box__content">
      <h1>Haz realidad tu sueño de ser una modelo</h1>
      <div class="boton-box">
        <div class="boton">
          <a href="assets/views/contacto.html" class="boton__fill"
            >CONTÁCTANOS</a
          >
        </div>
        <div>
          <a
            href="https://www.youtube.com/watch?v=IcrbM1l_BoI"
            class="a-link"
            target="_blank"
            >Nuestro Servicio <i class="far fa-play-circle"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section></section>
