<section class="como-funciona">
  <div class="como-funciona__content row">
    <div class="como-funciona__content--box1">
      <h1>Soy Modelo</h1>

      <p>
        Con nuestro aplicativo podrás estar al alcance de empresas que buscan
        una modelo con tus caracteristicas para su proxima campaña.
      </p>
    </div>
    <div class="como-funciona__content--box2">
      <h2>¿Cómo funciona?</h2>
      <h3>Es muy sencillo</h3>
      <p>
        Para ser una modelo solo tienes que tener una actitud ganadora,
        registrarte y empezar a publicar. Pierde el miedo y se lo que quieres
        ser.
      </p>
      <div class="boton-box">
        <div class="boton">
          <a href="assets/views/contacto.html" class="boton__ghost-or"
            >Empieza ya!</a
          >
        </div>
        <!-- Los testimonios son un playlist de nuestro canal en youtube-->
        <div>
          <a
            href="https://youtube.com/playlist?list=PLExYwfu8QISoM3GUOc-bV7O-e0caTSStJ"
            target="_blank"
            class="a-link__orange"
            >Testimonios <i class="far fa-play-circle"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="como-funciona__content--box3">
      <ul>
        <li>
          <div class="numero"><span>1</span></div>
          <div class="box3__content">
            <h3>Registrate</h3>
            <p>
              Es el primer paso y el más dificil de dar en tu proyecto personal.
              Solo cree en ti y dale click a registrar.
            </p>
          </div>
        </li>
        <li>
          <div class="numero"><span>2</span></div>
          <div class="box3__content">
            <h3>Prepara tus fotos</h3>
            <p>
              Prepara tus fotos, puedes hacerlo tu mismo con los tutoriales que
              hemos facilitado en YouTube o puedes contratar a un fotografo
              profesional.
            </p>
          </div>
        </li>
        <li>
          <div class="numero"><span>3</span></div>
          <div class="box3__content">
            <h3>Empieza a publicar</h3>
            <p>Publica tus fotografias y sueña en grande.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
