@mixin icons_format($size, $bgColor) {
  display: inline-block;
  padding: $size;
  border-radius: 50%;
  transform: translateY(0);
  transition: all 0.2s;
  &:hover {
    background-color: $bgColor;
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(black, 0.5);
  }
}

.sn-icons {
  &__link {
    &--fb {
      @include icons_format(1rem 1.4rem, #3b5998);
    }

    &--tw {
      @include icons_format(1rem 1.1rem, #00acee);
    }

    &--ig {
      @include icons_format(1rem 1.2rem, #e1306c);
    }

    &--gp {
      @include icons_format(1rem 0.9rem, #db4a39);
    }
  }
}
