<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>
  <body>
    <%- include('./partials/header.ejs'); %>
    <section>
      <div class="content-box row">
        <h1>Ingrese un nuevo producto</h1>
        <%- include('./partials/form.ejs'); %>
      </div>
    </section>

    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
