*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem setting
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem 8px
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1 rem 12px
  }
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: $darkPurple;
  color: $light-grey;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: $title;
}

h1 {
  font-size: 5rem;
  margin: 15px 0 30px 0;
  line-height: 5.2rem;
}

h2 {
  font-size: 3rem;
  margin: 5px 0 15px 0;
  line-height: 3.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
}

ul li {
  list-style: none;
}
