.admin-content {
  &__user {
    margin-top: 4rem;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 2rem;
    &--data {
      .input-admin {
        margin: 10px 0;

        label {
          display: inline-block;
          width: 10rem;
          height: 100%;
        }
        input {
          background-color: transparent;
          border: none;
          color: white;
          padding: 1rem;
          border-bottom: 1px solid white;
        }
        &__img {
          width: 10rem;
          height: 10rem;
          display: inline-block;
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          outline: 2px solid white;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;

            // padding: 0.5rem;
            // border: 1px solid white;
          }
          #picture-edit {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 4.5rem;
            opacity: 25%;
          }
        }
      }
    }
    .edit-user-buttons {
      display: flex;

      align-items: center;
      #userUpdateBoton {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 2.5rem;
      }
      #edit-user {
        margin-left: 1rem;
        font-size: 2.4rem;
      }
    }
  }

  &__post,
  &__publish {
    margin-top: 4rem;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 2rem;
  }
}
