/* header */

header {
  background: linear-gradient(to right, $main-color, $terceary-color);
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

nav.main-nav {
  height: 6rem;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 18rem;
    height: auto;
  }
}

.menu-bar {
  margin-right: 1.2rem;

  a {
    text-decoration: none;
    color: white;
    padding: 3px 5px;
    border-bottom: 1px solid rgba(250, 250, 250, 0);
    transition: border-bottom 0.3s;
    font-size: 1.8rem;
    @include respond(tab-port) {
      font-size: 1.6rem;
    }
  }

  a:hover {
    border-bottom: 1px solid white;
  }

  li {
    display: inline-block;
  }

  li:not(:last-child) {
    margin-right: 1rem;
  }

  &.active {
    transform: translateX(0);
  }

  @include respond(phone) {
    margin-right: 0;
    position: fixed;
    height: 100vh;
    width: 80%;
    top: 0;
    right: 0;
    background-color: $terceary-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(120%);
    transition: 0.3s;

    li {
      margin-bottom: 1rem;
    }
  }
}

.menu-mobile {
  display: none;
  i {
    cursor: pointer;
    margin-right: 15px;
    font-size: 2rem;
  }

  @include respond(phone) {
    display: block;
  }
  &__close {
    visibility: hidden;
    opacity: 0;

    @include respond(phone) {
      position: absolute;
      visibility: visible;
      opacity: 1;
      top: 10px;
      left: -45px;

      i {
        font-size: 3rem;
        color: $light-grey;
      }
    }
  }
}
